:root {
  --white: #ffffff;
  --black: #000;
  --accent: #4e4d4d;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "IBM Plex Mono", monospace;
  width: 100%;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.main {
  padding: 2em 2em 0;
}

.avatar__image {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.title {
  font-size: 44px;
  margin-bottom: 1em;
  max-width: 650px;
}

.description {
  font-size: 16px;
  line-height: 1.8;
  max-width: 600px;
}

a {
  font-weight: 400;
  color: var(--color-6);
}

@media (min-width: 768px) {
  .avatar__image {
    width: 100px;
    height: 100px;
  }

  .main {
    padding: 3em 5em 0;
  }

  .title {
    font-size: 58px;
  }
}

@media (min-width: 1024px) {
  .main {
    padding: 3em 8em 0;
  }

  .title {
    font-size: 64px;
    max-width: 800px;
  }

  .description {
    font-size: 22px;
  }
}
